:root {
    --header-text-color: #757575;
    --main-title-color: #ffffff;
    --second-title-color: #212121;
    --main-text-color: #757575;
    --second-text-color: rgba(255, 255, 255, 0.6);
    --logo-color: #2196f3;
    --logo-second-color: #212121;
    --logo-third-color: #ffffff; 
    --accent-color: #2196f3;
    --main-btn-color: #2196f3;
    --footer-bcg-color: #2f303a;
--portfolio-button-color: #f5f4fa;
--motto-background-color: rgba(47, 48, 58, 0.4);
}

p, h1, h2, h3, h4, h5, h6 {margin: 0;}

ul {margin: 0;
padding: 0;}

img {
    display: block;
}

body  {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}


.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  .section {
      padding-top: 94px;
      padding-bottom: 94px;
  }

  .visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.btn {
  border: none;
  border-radius: 4px
  cursor: pointer;
  outline: none;
}
/*------------------------------------------------HEADER------------------------*/

.header {
    background-color: #ffffff;
    border-bottom: 1px solid #ececec;
  }
  .header-list {
    display: flex;
    align-items: center;
  }
  .contacts-list {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 50px;
  }
  .header-container {
    display: flex;
    align-items: center;
  }
  .header-navigation {
    display: flex;
    align-items: center;
  }
  .header-logo {
    padding-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
  .header-logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
   color: var(--logo-color);
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-second-color {
    color:var(--logo-second-color);
}

.logo-third-color {
    color:var(--logo-third-color);
}
  .header-logo:focus,
  .header-logo:hover {
    color: var(--accent-color);
  }
  .header-item:not(:last-child) {
    padding-right: 50px;
  }

  .header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-title-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
  }

  .header-link.current {
    color: rgba(33, 150, 243, 0.9);
  }

  .header-link.current::after {
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    position: absolute;
    display: block;
    bottom: -28px;
    left: 0;
    }

  .header-link:hover,
  .header-link:focus {
    color: var(--accent-color);
  }

  .header-icon {
    fill: currentColor;
    margin-right: 10px;
  }

  .header-icon:hover,
  .header-icon:focus {
    color: var(--accent-color);
  }

  .header-contacts {
    margin-right: 0;
    margin-left: 30px;
  }

  .header-mail {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-mail:hover,
  .header-mail:focus {
    color: var(--accent-color);
  }
  


/*------------------------------------------------main------------------------*/

.motto {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mottoback.jpg);
    background-repeat: no-repeat;   
    background-position: center;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
}

.title-one {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--main-title-color);
}

.motto-container {
padding-right: 252px;
padding-left: 252px;
text-align: center;
}

.main-btn {
padding: 10px 32px;
background-color: var(--main-btn-color);
font-weight: 700;
font-size: 16px;
line-height: 1.9;
width: 200px;
height: 50px;
margin-top: 30px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
color: #ffffff;
cursor: pointer;
outline: none;
}

.main-btn:active {
background-color: var(--second-title-color);
}
/*------------------------------------------------HERO------------------------*/


.hero-list {
display: flex;
justify-content: space-between
}

.hero-item {
max-width: 270px;
}

.hero-box {
    width: 270px;
    height: 120px;
    background-color: #f5f4fa;
    border-radius: 4px;
    margin-right: 30px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-three {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
margin-top: 30px;
margin-bottom: 10px;
text-transform: uppercase;
color: var(--second-title-color);
}

.hero-text {
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: var(--main-text-color);
}

.hero-icon {
    max-width: 70px;
    max-height: 70px;
 
}

.title-two {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
letter-spacing: 0.03em;
text-align: center;
margin-bottom: 50px;
color: var(--second-title-color);
}

.whaddowedo-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.whaddowedo {
    padding-top: 0px;
}

.whaddowedo-item {
  position: relative;
}
.whaddowedo-box {position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);}

.whaddowedo-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.team {
background-color: var(--portfolio-button-color);
 }

.team-container {
text-align: center;
}

.team-list {
display: flex;
justify-content: space-between;
}

.team-item {
justify-content: space-between;
width: 270px;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;    
}

.team-card {
padding-top: 30px;
padding-bottom: 30px;
background-color: #fff;
}

img {
max-width: 100%;
height: auto
}

.title-four {
font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--second-title-color);
}

.team-text {
font-weight: 400;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
margin-top: 10px;
color: var(--main-text-color);
margin-bottom: 16px;
}

.team-social-list {
    display: flex;
    justify-content: center;
}

.team-social-item {
    width: 44px;
    height: 44px;
}

.team-social-item + .team-social-item {
margin-left: 10px;
} 

.team-social-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link {
    fill: #AFB1B8;
}

.team-social-link:hover, 
.team-social-link:focus {
    background-color: var(--accent-color);
}

.team-social-link:hover, 
.team-social-link:focus {
    fill: #ffffff;
}

/*--------------------------------------CLIENTS-------------------------------*/

.clients-list {
    display: flex;
    justify-content: space-between
}

.clients-link {
display: flex;
width: 170px;
height: 92px;
align-items: center;
justify-content: center;
box-sizing: border-box;
border: 1px solid #afb1b8;
border-radius: 4px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
}

.clients-icon {
    width: 106px;
    height: 60px;
    fill: #AFB1B8;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
}

.clients-link:hover,
.clients-link:focus {
    border-color: var(--accent-color);
  }

  .clients-link:hover .clients-icon {
    fill: var(--accent-color);
  }

  .clients-link:focus .clients-icon {
    fill: var(--accent-color);
  }
/*------------------------------------------ FOOTER -------------------------*/

.footer {
background-color:var(--footer-bcg-color);
padding-top: 60px;
padding-bottom: 60px;
}

.footer-container {
    display: flex;
}

.footer-logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
   color: var(--logo-color);
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list {
    padding-top: 20px;
}

.footer-contact {
  margin-bottom: 9px;
}
.footer-address {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--main-title-color);
margin-bottom: 9px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address:hover, 
.footer-address:focus {
color: var(--accent-color) 
}
.footer-mail {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
   letter-spacing: 0.03em;
   color: var(--second-text-color);
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
   
}
.footer-mail:hover, 
.footer-mail:focus {
    color: var(--accent-color) 
}

.title-five {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71;
   letter-spacing: 0.03em;
   margin-bottom: 20px;
   color: var(--main-title-color);
   text-transform: uppercase;
}

.footer-social
{
margin-left: 70px;}

.footer-social-list {
    display: flex;
}

.footer-social-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    margin-right: 10px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--accent-color);
}

.footer-social-icon {
    fill: #ffffff;
}

.footer-subscribe {
margin-left: 93px;
}

.subscribe-wrap {
  display: flex;
  justify-content: space-between;
}

.subscribe-input {
width: 358px;
height: 50px;
background-color:var(--footer-bcg-color);
padding-left: 16px;
display: flex;
align-items: center;
border: 1px solid rgba(255, 255, 255, 0.3);
box-sizing: border-box;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
font-family: Roboto;
font-weight: 400;
font-size: 16px;
line-height: 1.25;
letter-spacing: 0.03em;
color: var(--second-text-color);
margin-right: 12px;
}

.subscribe-input::placeholder {
font-family: Roboto;
font-weight: 400;
font-size: 16px;
line-height: 1.25;
letter-spacing: 0.03em;
color: var(--second-text-color);
}


.subscribe-btn {
width: 200px;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
font-family: Roboto;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;
color: var(--main-title-color);
background-color: var(--accent-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15)
outline: none;
}

.subscribe-btn-icon {
margin-left: 10px;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 1000ms, visibility 1000ms;
}

.backdrop.is-hidden .modal {
  transform: scale(1.5);
  transition: transform 1000ms;
}

.modal {
width: 528px;
height: 581px;
background-color: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
position: absolute;
top: 50%;
left: 50%;
transform: scale(1);
transform: translate(-50%, -50%);
transition: transform 1000ms;
padding: 40px;
}

.modal-close {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 14px;
  right: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.modal-close:hover {
  color: var(--accent-color);
  }
.modal-close-icon {
  fill: currentColor;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-title {
font-family: Roboto;
font-weight: 700;
font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;
color: var(--second-title-color);
margin-bottom: 12px;
}

.modal-form-input {
width: 100%;
height: 40px;
border: 1px solid rgba(33, 33, 33, 0.2);
box-sizing: border-box;
border-radius: 4px;
padding-left: 35px;
padding-right: 15px;
resize: none;
outline: none;
cursor: pointer;
margin-top: 4px;
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-form-input:focus {
border-color: var(--accent-color);
}

.modal-form-input:focus + .input-icon {
  fill: var(--accent-color);
  }

.modal-field {
  width: 100%;
  margin-bottom: 10px;
}

.input-wrap {
  position: relative;
}

.modal-form-comment {
width: 100%;
height: 120px;
border: 1px solid rgba(33, 33, 33, 0.2);
box-sizing: border-box;
border-radius: 4px;
padding-left: 5px;
padding-right: 15px;
padding-top: 12px;
resize: none;
outline: none;
margin-top: 4px;
margin-bottom: 5px;
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
font-family: Roboto;
font-weight: 400;
font-size: 12px;
line-height: 1,16;
letter-spacing: 0.01em;
color: var(--header-text-color) 
}

.modal-form-comment:focus {
  border-color: var(--accent-color);
}

.modal-label-text {
font-family: Roboto;
font-weight: 400;
font-size: 12px;
line-height: 1,16;
letter-spacing: 0.01em;
color: var(--header-text-color)
}

.modal-check:checked + .policy-text .policy-item {
background-color: var(--accent-color);
border: 0;
}

.policy-item {
width: 16px;
height: 15px;
border: 2px solid;
color: var(--logo-second-color);
border-radius: 2px;
margin-right: 5px;
margin-left: 12px;
display: flex;
align-items: center;
justify-content: center;
}

.input-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.check-icon {
  fill: var(--main-title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.policy-text {
display: flex;
font-family: Roboto;
font-weight: 400;
font-size: 14px;
line-height: 1,71;
letter-spacing: 0.03em;
color: #757575;
margin-bottom: 30px;
}

.policy-link {
  color: var(--accent-color);
  text-decoration: underline;
  margin-left: 5px;
}

.modal-btn {
  display: block;
  margin: 0 auto;
  
}

/*----------------------------PORTFOLIO--------------------------*/

.works-button {
height: 38px;
background:var(--portfolio-button-color);
padding-top: 6px;
padding-bottom: 6px;
padding-left: 22px;
padding-right: 22px;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
cursor: pointer;
border: none;
text-align: center;
border-radius: 4px;
margin-left: 8px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works-button:hover, 
.works-button:focus {
  color: #ffffff;  
  background-color:var(--accent-color) 
}

.works-button:hover, 
.works-button:focus {
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;}

.works-button-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
 }

.works-list {
    display: flex;
    flex-wrap: wrap;
    }

    .works-item {
      max-width: 370px;
      transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


    .works-item:hover .works-item-text {
      transform: translateY(0);
  }
  

.works-item:hover,    
.works-item:focus
 {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works-wrap {
  position: relative;
  overflow: hidden;
}
.works-item-text {
  max-width: 370px;
  position: absolute;
  top: 0;
  left: 0;
  background-color:rgba(33, 150, 243, 0.9);
  padding: 63px 24px 63px 24px;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  overflow: auto;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms linear;
}

.works-card {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border: 1px solid #EEEEEE;
}

.works-item {
margin-right: 30px;
margin-bottom: 30px;
}

.works-item:nth-child(3n) {
margin-right: 0;
}

.works-item:nth-child(n+7) {
    margin-bottom: 0px;
}

.works-title {
font-family: Roboto;
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
margin-bottom: 4px;
}

.works-text {
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--header-text-color)
}